include VERSION
recursive-include Projects *
recursive-include Graphics *
recursive-exclude test *
recursive-exclude bin *
recursive-exclude build *
recursive-exclude htmlcov *
recursive-exclude dist *
recursive-exclude *.egg-info
